.modal{
    min-width: 100vw;
    
    min-height: 100vh;
    
  
}

.modalform{
    display: flex;
    padding-left: 20%;
    flex-direction: column;
    width: 60vw;
}
.modalform h3{
    margin-top: 5px;
    margin-bottom: 5px;
}
.modalform input{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    border: 2px solid #201a44;
    width: 100%;
    border-radius: 10px;
}
.finish{
    width: 80px;
    border-radius: 10px;
    border: none;
    padding: 2%;
    color: white;
    background-color: #201a44;
    font-size: 15px;
    margin-left: 25vw;
    margin-top: 5%;
    text-align: center;
}
.finish:hover{
    cursor: pointer;
}
@media screen  and (max-width:600px) {
    .modalform{
        margin-top: 20vh;
        padding-left: 10vw;
        width: 80vw;
    }
    .modalform input{
        margin: 2% 0% 3% 0%;
    }
   
}